main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.panel {
  position: absolute;
  top: 25%;
  right: 25.6%;
  width: 49%;
  height: 50%;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.left {
  border: 5px solid rgb(104, 0, 81);
  background-color: rgb(134, 18, 109);
  left: 0;
}

.right {
  border: 5px solid rgb(104, 0, 81);
  background-color: rgb(134, 18, 109);
  right: 0;
}

.panel:hover .left {
  transform: rotateX(15deg) rotateY(-35deg) translateX(-50%);
}

.panel:hover .right {
  transform: rotateX(15deg) rotateY(35deg) translateX(50%);
}
